	
#banner{
	width: 100%;
	height: -10%;
}
.principal{
	padding: 30px;
	background: #CCCCCC

}
.titulo_principal{
	padding-left:20px;
}

.titulo_centralizado{

	text-align: center;	
}
#missao{
	Font-size:20px
}
p{
	text-align: center;
	}
	em	strong{
		color: red;
	}

.Itens{
	font-style:italic ;
}	
.Beneficios{
	background: #FFFFFF;
	padding: 20px;
}


ul{
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}
.imagembeneficios{
	width: 50%;
}
